import { UiTestCases } from '../../../../../framework/core/testing.ui-testcases.abstract';


export class <%= classify(name) %><%= classify(type) %>Cases extends UiTestCases {

    private static instance: <%= classify(name) %><%= classify(type) %>Cases;

    private constructor() {
        super();
    }

    public static getInstance(): <%= classify(name) %><%= classify(type) %>Cases {
        if (!<%= classify(name) %><%= classify(type) %>Cases.instance) {
            <%= classify(name) %><%= classify(type) %>Cases.instance = new <%= classify(name) %><%= classify(type) %>Cases();
        }
        return <%= classify(name) %><%= classify(type) %>Cases.instance;
    }

    protected setCurrentTestcases() {
    }


}