import { Component, OnInit } from '@angular/core';
import Debug from 'debug';
const debug = Debug('aumico:core:<%= classify(name) %>');

@Component({
    selector: '<%= dasherize(name) %>',
    templateUrl: './<%= dasherize(name) %><%= type ? '.' + dasherize(type): '' %>.html',
    styleUrls: ['./<%= dasherize(name) %><%= type ? '.' + dasherize(type): '' %>.<%= style %>'],
})
export class <%= classify(name) %><%= classify(type) %>  implements OnInit {

    constructor() {
    }

    ngOnInit(): void {
    }

}