@import "../style/colors";

button.back-button,
button.forth-button {
  width: 40px;
  height: 40px;
  border: 1px solid getColor(grayscale, 40);
  box-sizing: border-box;
  padding: 0px 12px 0px 12px;
}

.back-button {
  border-radius: 4px 0px 0px 4px;
}

.forth-button {
  border-radius: 0px 4px 4px 0px;
}