import { Component } from '@angular/core';
import { UiTestBase } from '../../../../../framework/core/testing.ui-test.abstract';
import { TestingRoute } from '../../../../../framework/core/testing.route';
import { ActivatedRoute } from '@angular/router';
import Debug from 'debug';
import { TestCaseModel } from '../../../../../framework/core/testcase.model';
import { RichTextComponentUiTestCases } from './richText.ui-testcases';
import { IRichText, IRichTextDelegate } from '@modeso/aumico-lib-notes-fe';

const debug = Debug('aumico:aumico-lib-notes-fe:RichTextComponentUiTest');
@Component({
    template: `
   <aumico-notes-rich-text [translatableTexts]="translatableText" [delegate]="this"></aumico-notes-rich-text>
    `
})
export class RichTextComponentUiTest extends UiTestBase implements IRichTextDelegate {
    translatableText: IRichText[];
    constructor(activatedRoute: ActivatedRoute) {
        super(activatedRoute);
    }

    public static getTestcases() {
        return RichTextComponentUiTestCases.getInstance();
    }

    public static getTestingRoute(): TestingRoute<RichTextComponentUiTest> {
        return new TestingRoute<RichTextComponentUiTest>('lib/microservices/aumico-notes/',
            'richText.component',
            'richText component',
            'aumico-notes',
            'component');
    }

    public getTestCases(): TestCaseModel[] {
        return RichTextComponentUiTest.getTestcases().getTestCases();
    }
    protected setCurrentTestcaseData(testcaseId: number) {
        const testcase = this.getTestcaseById(testcaseId);
        this.translatableText = testcase.mockedFeatureState.translatableTexts;
    }

    richTextContent(content: any) {
        debug('rich text content');
        debug(content);
    }
}
